.container {
    position: relative; 
    width: fit-content; 
}

.background-image {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    display: block; /* Hace que la imagen sea un bloque para que el botón pueda posicionarse correctamente */
}

.login-button {
    position: absolute; 
    top: 50px; 
    left: 10px; 
    background-color: #cccccc; /* Gris */
    color: #ffffff; /* Texto blanco */
    padding: 20px 40px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 32px; 
}

/* Estilo cuando se pasa el cursor sobre el botón */
.login-button:hover {
    background-color: #aaaaaa; /* Gris más claro */
}

